{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>Author: {{ post.author.username }}</p>
<hr>
<h3>Comments:</h3>
<ul>
    {% for comment in comments %}
    <li>{{ comment.author }}: {{ comment.content }} ({{ comment.created_at }})</li>
    {% endfor %}
</ul>
<h3>Leave a Comment</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>
{% endblock %}